<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <listener>
        <listener-class>ru.rt.fsom.wfc.wfcservice.ServletListener</listener-class>
        <description>ServletContextListener</description>
    </listener>
    <listener>
        <listener-class>liquibase.integration.servlet.LiquibaseServletListener</listener-class>
    </listener>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
     <context-param>
        <param-name>liquibase.changelog</param-name>
        <param-value>liquibase/_changesets.xml</param-value>
    </context-param>
    <context-param>
        <param-name>changelogSchemaName</param-name>
        <param-value>ilink</param-value>
    </context-param>
    <context-param>
        <param-name>liquibase.datasource</param-name>
        <param-value>java:/jboss/datasources/PostgresDS</param-value>
    </context-param>
    <context-param>
        <param-name>liquibase.onerror.fail</param-name>
        <param-value>true</param-value>
    </context-param>
    <context-param>
        <param-name>liquibase.contexts</param-name>
        <param-value>initdata</param-value>
    </context-param>
</web-app>
